# nm-vllm

## Usage

[Helm](https://helm.sh) must be installed to use the charts.
Please refer to Helm's [documentation](https://helm.sh/docs/) to get started.

Once Helm is set up properly, add the repository as follows:

```console
helm repo add nm-vllm https://neuralmagic.github.io/helm-charts
```

You can then run `helm search repo nm-vllm` to see the charts.

## Customization
The following options are supported. See [values.yaml](/charts/nmvllm/values.yaml) for more detailed documentation and examples:

{{ template "chart.valuesSection" . }}
